body{
    background-color: rgba(155, 154, 235, 0.952);
    color: whitesmoke;
}
h1{
    margin-left: 40%;
}
h4{
    margin-left: 28%;
}
#main{
    position: absolute;
    left: 35%;
    top: 5%;
    height: 620px;
    width: 600px;
    background-color: rgba(0, 0, 0, 0.877);
    border-radius: 15px;
    border: 1px solid whitesmoke;
}
#Name{
    height: 40px;
    width: 43%;
}
#signup{
    margin-top: 30px;
    height: auto;
    width: auto;
}

input{
    height: 40px;
    width: 90%;
    border: 1px solid black;
    font-family: monospace;
    border-radius: 10px;
    font-size: 15px;
    background-color: whitesmoke;
    padding-left: 15px;
    margin-top: 15px;
}
#input_submit{
    width: 30%;
    height: 40px;
    margin-left: 32%;
    margin-top: 65px;
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(80, 9, 146);
    color: whitesmoke;
    border: 1px solid black;
    cursor: pointer;
}
form{
    margin-left: 34px;
    margin-top: 60px;
}

#terms{
    height: 15px;
    width: 15px;
    margin-top: 10px;
    margin-left:5px;
}

h3{
    margin-top: 30px;
    margin-left: 155px;
}

h3 a{
    margin-left: 5px;
}